
@{
    ViewBag.Title = "ProfileUpdated";
}

<h2>ProfileUpdated</h2>

<div class="row" style="margin-top:50px; text-align:center;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div style="font-size:55pt;">
                <span class="glyphicon glyphicon-ok-circle" style="color:lightcoral;"></span>
            </div>
            <p class="lead" style="font-size:42pt; color:chocolate;">
                Profiliniz Başarıyla Güncellendi!!!
            </p>
        </div>
    </div>
</div>
